<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
</head>

<body class="bg-gray-100">
	<div class="container mx-auto p-6 mt-10">
		<div class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md">
			<h1 class="text-2xl font-semibold mb-6 text-gray-800">
				<%= title %>
			</h1>

			<form action="<%= libro ? `/libros/${libro.id}?_method=PUT` : '/libros' %>" method="POST" class="space-y-4">
				<div>
					<label for="titulo" class="block text-sm font-medium text-gray-700">Título</label>
					<input type="text" name="titulo" value="<%= libro ? libro.titulo : '' %>" required
						class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm">
				</div>

				<div>
					<label for="autor" class="block text-sm font-medium text-gray-700">Autor</label>
					<input type="text" name="autor" value="<%= libro ? libro.autor : '' %>" required
						class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm ">
				</div>

				<div>
					<label for="año_publicacion" class="block text-sm font-medium text-gray-700">Año de Publicación</label>
					<input type="number" name="año_publicacion" value="<%= libro ? libro.año_publicacion : '' %>" required
						class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm">
				</div>

				<div>
					<label for="genero" class="block text-sm font-medium text-gray-700">Género</label>
					<input type="text" name="genero" value="<%= libro ? libro.genero : '' %>" required
						class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm">
				</div>

				<div class="flex space-x-4 pt-4">
					<button type="submit" onclick="mostrarMensaje(`<%= libro ? 'actualizado' : 'guardado' %>`)"
						class="bg-[#48CFAD] text-white px-4 py-2 rounded hover:bg-green-400 transition">
						<%= libro ? 'Actualizar Libro' : 'Guardar Libro' %>
					</button>

					<a href="/libros" class="bg-[#FF6B6B] text-white px-4 py-2 rounded hover:bg-red-600 transition">
						Cancelar
					</a>
				</div>
			</form>
		</div>
	</div>
	<script>
		function mostrarMensaje(accion) {
			const titulo = document.querySelector('input[name="titulo"]').value.trim();
			const autor = document.querySelector('input[name="autor"]').value.trim();
			const añoPublicacion = document.querySelector('input[name="año_publicacion"]').value.trim();
			const genero = document.querySelector('input[name="genero"]').value.trim();

			if (!titulo || !autor || !añoPublicacion || !genero) {
				alert('Por favor, completa todos los campos antes de guardar.');
				return false;
			}
			alert(`Libro ${accion} con éxito`);
			return true;
		}
	</script>
</body>

</html>